body {
  font-family: 'Merriweather', serif;
  text-align: center;
}

h2 {
  color: #48b198;
}

h3 {
  color: #48b198;
  font-size: 20px;
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: center;
}

p {
  line-height: 1.5;
}

a {
  margin-right: 10px;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

ul {
  text-align: left;
}

li {
  margin-bottom: 6px;
}

hr {
  margin-top: 5%;
  border-top: 9px dotted #5d6262;
  width: 5%;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-bottom: 3%;
}

.top {
  background-color: #E4F9F5;
}

.demian {
  font-family: "Brush Script MT", cursive, serif;
  font-weight: 100;
  font-size: 600%;
  color: #48b198;
  margin-top: 0;
  margin-bottom: 0;
}

.engineer {
  color: #48b198;
  font-family: "Montserrat", Times, serif;
}

.top-cloud {
  display: inline-block;
  top: 10%;
  width: 10%;
  padding-left: 25%;
  padding-top: 0;
  margin: 0 auto;
}

.bottom-cloud {
  display: inline-block;
  width: 10%;
  padding-right: 25%;
  margin: 0 auto;
}

.mountain {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}

.middle-section {
  background-color: white;
}

.image-demian {
  margin-top: 20px;
  max-width: 20%;
  max-height: 20%;
}

.skills-demian {
  max-width: 40%;
  max-height: 40%;
}

.resume {
  width: 60%;
  margin-left: 20%;
}

.resume-title {
  margin-top: 15%;
  margin-bottom: 10%;
}

.resume-entry-title {
  text-align: left;
  font-weight: bold;
  margin-left: 1%;
  margin-top: 2%;
}

.resume-entry-header {
  text-align: left;
  font-weight: lighter;
  font-style: italic;
  font-size: small;
  color: grey;
  margin-left: 1%;
}

.resume-entry-description {
  text-align: left;
}

.project {
  display: flex;
  column-gap: 10%;
}

.project-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.project-header {
  display: flex;
  align-items: center;
}

.project-link {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.project-description {
  text-align: left;
  margin-left: 5px;
  margin-top: 10px;
}

.footer-link {
  color: #11999E;
}
.footer-link:hover {
  color: white;
}

.btn {
	box-shadow: 0px 1px 0px 0px #276873;
	background:linear-gradient(to bottom, #11cdd4 5%, #11999E 100%);
	background-color:#599bb3;
	border-radius:6px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Merriweather', serif;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #3d768a;
  text-decoration: none;
}
.btn:hover {
	background:linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
	background-color:#30e3cb;
  text-decoration: none;
}
.btn:active {
	position:relative;
	top:1px;
}

.bottom-container {
  background-color: #66BFBF;
}

.links4all {
  padding-top: 3%;
  padding-bottom: 7%;
}

.contact-me {
  margin-bottom: 5%;
  margin-top: 5%;
}

.copyright {
    margin-bottom: 0;
    color: white;
    font-size: x-small;
}